@layer base {

	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	:root {
		--accent: #0a64ff;
		--tooltip: #414141;
		--tooltip-foreground: #ececec;
	}

	body {
		background: #101010;
		color: #e6e6e6;
		font-family: system-ui, sans-serif;
	}
}